In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [2]:
data=pd.read_csv(r'D:\Mlops\data\StudentsPerformance.csv',index_col=False)
df=data.copy()

In [3]:
df.head()

,gender,race_or_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [ ]:
# df.columns=df.columns.str.strip().str.lower().str.replace(" ", "_").str.replace("/", "_or_")

In [4]:
df.columns

Index(['gender', 'race_or_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [5]:
df.isnull().sum()

gender                         0
race_or_ethnicity              0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_or_ethnicity            1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
x=df.drop('math_score',axis=1)
y=df['math_score']

In [8]:
num_col=x.select_dtypes(include='number').columns
print(num_col)
print()
cat_col=x.select_dtypes(include='object').columns
print(cat_col)

Index(['reading_score', 'writing_score'], dtype='object')

Index(['gender', 'race_or_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')

In [9]:
for col in cat_col:
    print(f'{col} = {df[col].unique()}')
    print()

gender = ['female' 'male']

race_or_ethnicity = ['group B' 'group C' 'group A' 'group D' 'group E']

parental_level_of_education = ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

lunch = ['standard' 'free/reduced']

test_preparation_course = ['none' 'completed']

In [10]:
def get_preprocessor():
    return ColumnTransformer(transformers=[
    ('num_col',StandardScaler(),num_col),
    ('cat_col',OneHotEncoder(),cat_col)])

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=44)

In [12]:
preprocessor = get_preprocessor() 
x_train_transformed = preprocessor.fit_transform(x_train) 
x_test_transformed = preprocessor.transform(x_test)

In [13]:
x_train_transformed[1]

array([ 0.1161129 , -0.07830859,  0.        ,  1.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  1.        ,  1.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  1.        ,  0.        ,  1.        ])